.visual{
    text-align: center;
    background-color: #000;
}
.topic{
    text-decoration: none;
    font-size: 1.5em;
    color: crimson;
    font-weight: bolder;
    margin-bottom: 32px;
}
.topic:hover{
    color: crimson;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    color:crimson;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    color:black;
}
.about{
    text-align: center;
}
.list{
    text-align: justify;
    margin-left: 38%;
}
.wel{
    color: crimson;
}
.login{
    text-align: center;
    margin-top: 10%;
    background-color: black;
    margin-left: 35%;
    padding: 5%;
    width: fit-content;
}
.ll{
    color: #fff;
    font-weight: bold;
}
.btn{
    margin-top: 16px;
    background-color: crimson;
    color: #fff;
    font-weight: bold;
}

.title{
    font-size: 1.5em;
    color: #fff;
}
.ag{
    margin-top: 0;
}